<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <title>WordCount</title>
    {% load static %}
    <link href="{%static 'wordcount/style.css'%}" rel="stylesheet">
</head>
<body>
    <h1 class="title">WORD COUNT</h1>

    <div class="navbar">
        <a href="{%url 'home'%}">HOME</a>
        <a href="{%url 'about'%}">ABOUT</a>
    </div>

    <div class="content">
        <h1 class="content_name">ABOUT</h1>
        <p id="about_p">Hello! This is to help you to count the words.<br>
            Please use this, more and more. After using this, <br>
            you can send the feedback about this function by e-mail below.</p>
        <p id="email">subinjin22@gamil.com</p>
        
        <a href="{%url 'home'%}">Back to Home</a>
    </div>
</body>
</html>
